SECRET_KEY=django-insecure-cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,chat-bot-salud.onrender.com

DB_ENGINE=mysql
DB_NAME=cesfam_chatbot
DB_USER=root
DB_PASSWORD=tu_password
DB_HOST=127.0.0.1
DB_PORT=3306

# Solo para desarrollo rapido sin MySQL:
# DB_ENGINE=sqlite
# SQLITE_NAME=db.sqlite3
